part1/resume.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="resume">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="contact">
                                <xs:complexType >
                                    <xs:sequence>
                                        <xs:element name="email" type="xs:string" />
                                        <xs:element name="phone" type="xs:string" />
                                        <xs:element name="address" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="education">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="institution" type="xs:string" />
                            <xs:element name="level" type="xs:string" />
                            <xs:element name="field" type="xs:string" />
                            <xs:element name="graduation" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="experience">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="workplace" type="xs:string" />
                                        <xs:element name="period" type="xs:string" />
                                        <xs:element name="tasklist">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="task" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
            
            
                                    </xs:sequence>
    
                                </xs:complexType>
    
    
                            </xs:element>

                        </xs:sequence>


                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>